.btn {
	&-white {
		padding: rem(14) rem(32);
		font-family: var(--font-family);
		font-weight: 800;
		font-size: rem(12);
		line-height: 200%;
		color: #000;
		text-transform: uppercase;
		border-radius: rem(56);
		background-color: #fff;
		border: 2px solid #fff;
		box-shadow: inset -6px 6px 14px 0 rgba(0, 0, 0, 0.07);
		display: inline-flex;
		align-items: center;
		gap: rem(16);
		transition: 0.3s ease-in-out;

		svg {
			width: rem(19);
			height: rem(16);
			flex-shrink: 0;
			fill: var(--primary-color);
			transition: 0.3s ease-in-out;
		}

		@include hover {
			svg {
				transform: translateX(5px);
				transition: 0.3s ease-in-out;
			}
		}
	}
}
