.cases {
	margin-top: rem(-30);
	margin-bottom: rem(32);
	padding: rem(32) 0;
	position: relative;
	border-radius: rem(32);

	@include tablet {
		margin-top: rem(-70);
		padding: rem(64) 0;
		border-radius: rem(64);
	}

	&--bg {
		background: url("../images/content/cases-bg.jpg") no-repeat center /
			cover;
	}

	&__title {
		color: #fff;
	}

	&__row {
		--gutter-x: 35px;
		--gutter-y: 32px;
	}

	&__block {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: rem(16);
		line-height: 150%;
		color: #fff;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-block {
		padding: rem(32);
		width: 100%;
		height: 100%;
		border-radius: rem(32);
		border: 2px solid #fff;
		background-color: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.06);
		display: flex;
		flex-direction: column;

		&__header {
			margin-bottom: rem(32);
		}

		&__icon {
			margin-bottom: rem(16);
			width: rem(48);
			height: rem(48);
			display: inline-block;
		}

		&__title {
			margin: 0;
			font-weight: 700;
			font-size: rem(24);
			line-height: 100%;
			color: #000;

			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}

		&__desc {
			margin: 0;
			font-weight: 500;
			font-size: rem(16);
			line-height: 150%;
			color: #fff;

			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}

		&__subtitle {
			margin: 0;
			font-size: 16px;
			line-height: 150%;
			color: #000;

			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}

		&__footer {
			margin-top: auto;
		}
	}

	&-page {
		margin-top: rem(-30);
		margin-bottom: rem(32);
		padding: rem(50) 0;
		border-radius: rem(32);
		position: relative;
		z-index: 1;

		@include laptop {
			margin-top: rem(-60);
			padding: rem(64) 0;
			border-radius: rem(64);
		}
	}

	&-inner {
		padding: rem(50) 0 rem(80);
		background-color: #fff;

		@include tablet {
			padding: rem(64) 0 rem(124);
		}

		&__title {
			&:not(:last-child) {
				margin-bottom: rem(32);
			}
		}

		&__frame {
			position: relative;
			display: block;
			width: 100%;
			max-height: 631px;
			border-radius: rem(16);
			overflow: hidden;

			&:not(:last-child) {
				margin-bottom: rem(32);
			}

			@include tablet {
				border-radius: rem(32);
			}

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&__author {
			&:not(:last-child) {
				margin-bottom: rem(32);
			}
		}

		&__content {
			padding: rem(32);
			border-radius: rem(32);
			color: var(--midnight-color);
			background-color: #fff;
			box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.06);
		}
	}

	&-announce {
		padding: rem(32);
		color: #fff;
		border-radius: rem(16);

		@include laptop {
			padding: rem(195) rem(64) rem(64);
			border-radius: rem(32);
		}

		&__header {
			&:not(:last-child) {
				margin-bottom: rem(32);

				@include laptop {
					margin-bottom: rem(64);
				}
			}
		}

		&__date {
			margin: 0;
			font-weight: 800;
			font-size: rem(28);
			line-height: 130%;
			color: #fafafa;

			&:not(:last-child) {
				margin-bottom: rem(16);
			}

			@include laptop {
				font-size: rem(48);
			}
		}

		&__theme {
			margin: 0;
			font-size: rem(16);
			line-height: 150%;

			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}

		&__body {
			&:not(:last-child) {
				margin-bottom: rem(32);

				@include laptop {
					margin-bottom: rem(64);
				}
			}
		}
	}
}
