.hero {
	position: relative;
	padding: rem(150) 0 rem(32);
	background: url("../images/content/hero-bg.webp") no-repeat top center /
		cover;

	@include laptop {
		padding-top: rem(230);
		padding-bottom: rem(64);
	}

	&--index {
		padding-bottom: rem(94);
		@include laptop {
			padding-bottom: rem(134);
		}
	}

	&--inner {
		padding-top: rem(100);
		padding-bottom: rem(62);

		@include laptop {
			padding-top: rem(199);
			padding-bottom: rem(124);
		}
	}

	&--small {
		padding-top: rem(100);
		padding-bottom: rem(32);

		@include laptop {
			padding-top: rem(199);
			padding-bottom: rem(64);
		}
	}

	&__wrapper {
		max-width: rem(392);
		@include laptop {
		}
	}

	&__subtitle {
		margin: 0;
		font-weight: 700;
		font-size: rem(16);
		line-height: 130%;
		color: #000;

		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}

	&__title {
		font-weight: 400;
		font-size: rem(16);
		line-height: 130%;
		color: #000;
	}

	&__logo {
		display: block;
		width: 300px;
		height: auto;

		&:not(:last-child) {
			margin-bottom: rem(24);
		}

		@include laptop {
			width: 393px;
		}
	}

	&-block {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&:not(:last-child) {
			margin-bottom: rem(16);
		}

		&__icon {
			margin-right: rem(12);
			width: rem(34);
			height: rem(34);
			flex-shrink: 0;

			@include tablet {
				width: rem(48);
				height: rem(48);
			}
		}

		&__title {
			margin: 0;
			font-family: var(--font-family);
			font-weight: 700;
			font-size: rem(20);
			line-height: 100%;
			color: #000;

			@include tablet {
				font-size: rem(24);
			}
		}
	}

	&__desc {
		padding: rem(14) rem(20);
		font-family: var(--font-family);
		font-weight: 400;
		font-size: rem(14);
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #fff;
		border-radius: rem(32);
		display: inline-block;
		background-color: var(--primary-color);

		@include tablet {
			padding: rem(14) rem(31);
			font-size: rem(16);
		}
	}
}
