section.hero(class=(home) ? 'hero--index' : '')
  .container
    .hero__wrapper
      p.hero__subtitle
        | Уважаемые коллеги, мы рады приветствовать вас на сайте проекта
      img.hero__logo(src="./logo.svg" alt="logo" )
      h1.hero__title
        | посвященного дифференциальной диагностике и терапии головокружений любой этиологии.