#modal-1.modal.micromodal-slide(
  class=(modalOpen) ? 'is-open' : ''
  aria-hidden=(modalOpen) ? 'false' : 'true'
)
  .modal__overlay(tabindex='-1' data-modal-close)
    .modal__container(role='dialog' aria-modal='true')
      button.modal__close(aria-label='Close modal' data-modal-close)
      .modal__header
        h2.modal__title
          | ВХОД ДЛЯ СПЕЦИАЛИСТОВ
        p.modal__subtitle
          | Информация в данном разделе предназначена исключительно для медицинских работников. 
          br
          | Вы являетесь медицинским работником?
      .modal__footer
        +button('button', 'ДА', "button", null, true)(data-modal-close)
        +button('button', 'Нет', "button", null, true)
