.popup#success
  .popup__wrapper
    button(type="button").btn.popup__close.close-button
    .popup__body
      .popup__icon.successBM
      .popup__title
        | Успешно!!!
      .popup__subtitle
        | Ваша почта отправлено удачно, 
        br
        | в скором времени мы ответим вам. 
    .popup__footer
      button(type="button").btn.btn__primary.close-button
        | Хорошо