.popup#error
  .popup__wrapper
    button(type="button").btn.popup__close.close-button
    .popup__body
      .popup__icon.errorBM
      .popup__title
        | Ошибка!!!
      .popup__subtitle
        | Упс!!! Что-то пошло не так.
    .popup__footer
      button(type="button").btn.btn__primary.close-button
        | Повторить