-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '/',
					name: 'Главная'
				},
				{
					url: './podcasts.html',
					name: 'Подкасты'
				},
				{
					url: './vebinars.html',
					name: 'Вебинары'
				},
				{
					url: './quize.html',
					name: 'Квизы'
				},
				{
					url: './blogs.html',
					name: 'Статьи'
				},
				{
					url: './cases.html',
					name: 'Клинические случаи'
				}
			],
		},

		home: {
			cases: [
				{
					icon: 'audio',
					title: 'Подкасты',
					desc: 'Короткие видеоролики по проблематике от специалистов в формате «вопрос-ответ»',
					url: 'podcasts'
				},
				{
					icon: 'camera',
					title: 'Вебинары',
					desc: 'Вебинары с участием ведущих лидеров мнений',
					url: 'vebinars'
				},
				{
					icon: 'puzzle',
					title: 'Квизы',
					desc: 'Интерактивные квизы для проверки и закрепления знаний по изученным темам',
					url: 'quize'
				},
				{
					icon: 'checklist',
					title: 'Статья',
					desc: 'Краткие обзоры исследований и новостей',
					url: 'blogs'
				},
				{
					icon: 'person',
					title: 'Клинические случаи',
					desc: 'Интерактивные задачи с контрольными вопросами и обоснования, которые помогают лучше разобраться в теме и выбрать тактику лечения',
					url: 'cases'
				},
			],

			statics: [
				{
					modifier: '30',
					procent: '2,0%',
					title: 'Болезнь Меньера'
				},
				{
					modifier: '70',
					procent: '12,9%',
					title: 'Другое вестибулярное головокружение'
				},
				{
					modifier: null,
					procent: '80,2%',
					title: 'Неизвестная причина'
				},
				{
					modifier: '70',
					procent: '4,3%',
					title: 'BPPV'
				},
				{
					modifier: '30',
					procent: '0,6%',
					title: 'Вестибулярный неврит'
				},
			],

			aside: [
				{
					image: 'petroleum',
					title: 'Petroleum rectificatum',
					desc: '(минеральное масло)'
				},
				{
					image: 'ambra',
					title: 'Ambra grisea',
					desc: '(амбра)'
				},
				{
					image: 'anamirta',
					title: 'Anamirta cocculus',
					desc: '(индийская ягода)'
				},
				{
					image: 'conium',
					title: 'Conium macalatum',
					desc: '(болиголов пятнистый)'
				},
			],
		},

		register: {
			inputs: [
				{
					type: 'text',
					name: 'surname',
					placeholder: 'Фамилия*',
					required: true
				},
				{
					type: 'email',
					name: 'email',
					placeholder: 'E-mail*',
					required: true
				},
				{
					type: 'text',
					name: 'name',
					placeholder: 'Имя*',
					required: true
				},
				{
					type: 'text',
					name: 'city',
					placeholder: 'Город',
					required: false
				},
				{
					type: 'text',
					name: 'surbane',
					placeholder: 'Отчество',
					required: false
				},
				{
					type: 'text',
					name: 'work',
					placeholder: 'Место работы',
					required: false
				},
				{
					type: 'text',
					name: 'phone',
					placeholder: 'Телефон*',
					required: true
				},
				{
					type: 'text',
					name: 'speciality',
					placeholder: 'Специальность',
					required: false
				},
			],

			checkboxes: [
				{
					id: 'agree',
					name: 'agree',
					text: 'Я даю <a href="#" target="_blank" rel="nofollow">согласие на обработку своих персональных данных</a> в соответствии <a href="#" target="_blank" rel="nofollow">с политикой обработки персональных данных ООО «Кофактор».</a>',
					checked: true
				},
				{
					id: 'adv',
					name: 'agreeAdv',
					text: 'Я даю согласие на получение рекламных материалов.',
					checked: false
				},
			],
		},

		footer: {
			menu: [
				{
					url: '/',
					name: 'Главная'
				},
				{
					url: './about.html',
					name: 'О компании'
				},
				{
					url: './services.html',
					name: 'Услуги'
				},
				{
					url: './blogs.html',
					name: 'Новости'
				},
				{
					url: './tarrifs.html',
					name: 'Тарифы'
				},
				{
					url: './vacancy.html',
					name: 'Вакансии'
				},
				{
					url: './documents.html',
					name: 'Документы'
				},
				{
					url: './contact.html',
					name: 'Контакты'
				},
			],

			socials: [
				{
					url: '#',
					icon: 'facebook',
					name: 'Facebook'
				},
				{
					url: '#',
					icon: 'instagram',
					name: 'Instagram'
				},
				{
					url: '#',
					icon: 'vk',
					name: 'Вконтакте'
				},
				{
					url: '#',
					icon: 'ok',
					name: 'Одноклассники'
				},
			]
		}
	};

//- script.
//- 	window.data = {
//- 		home: !{JSON.stringify(data.home)},
//- 	};
