mixin cases(data)
  .cases-block
    .cases-block__header
      img.cases-block__icon(src=`${baseDir}/images/icons/${data.icon}.svg`, alt!=data.title loading="lazy")
      h3.cases-block__title!=data.title
      p.cases-block__desc!=data.desc
    .cases-block__footer
      +button('a', 'ПЕРЕЙТИ', null, data.url).cases-block__button
