+heroBlock(false)
section.page-main
  .container
    h1.title.title--inner.primary-text
      | ДОСТУП К МАТЕРИАЛУ ОГРАНИЧЕН :(
    p.base-text
      | Материалы сайта предназначены исключительно для работников здравоохранения, имеющих высшее медицинское образование. 
      br
      | Для получения доступа, пожалуйста, войдите или зарегистрируйтесь.
    .error__buttons
      +button('a', 'ВОЙТИ', null, 'login')
      +button('a', 'РЕГИСТРАЦИЯ', null, 'register')