
extends pug/base

prepend vars
    //-

append vars
    - title = 'Список страниц'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#008549'
    - defaultLink = 'javascript:void(0);'

block content
    include pug/data

    .site
        // Header Section
        include pug/components/header

        // Main Section
        main.main
            .container
                .page-main
                    h1 Список страниц
                    ul
                        li: a(href='./404.html') = 'Страница не найдена'
                    li: a(href='./error.html') = 'Error'
                    li: a(href='./home.html') = 'Главная'
                    li: a(href='./login.html') = 'ЛИЧНЫЙ КАБИНЕТ'
                    li: a(href='./register.html') = 'Регистрация'

        // Footer Section
        include pug/components/footer
