*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	scroll-behavior: smooth;

	&.has-cursor,
	&.has-cursor * {
		// stylelint-disable-next-line
		cursor: none !important;
	}

	&.is-lock-scroll,
	&.is-lock-scroll body {
		overflow: hidden;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	box-sizing: border-box;
	background: #fafafa;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

p {
	margin: 0;
}

a,
button {
	outline: none;
	transition: $duration-normal;
	cursor: pointer;
}

a {
	color: currentColor;

	@include hover {
		text-decoration: transparent;
	}
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

figure,
picture {
	display: inline-block;
	margin: 0;
	line-height: 0;

	img {
		width: 100%;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

img[draggable="false"] {
	pointer-events: none;
	// stylelint-disable-next-line
	-webkit-user-drag: none;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

video {
	outline: none;
	width: 100%;
	height: 100%;
}

iframe {
	display: block;
}

.main {
	flex: 1;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh; // fallback
	overflow: hidden;
}

.container {
	padding-left: rem(16);
	padding-right: rem(16);
	width: 100%;
	max-width: 100%;
	margin: 0 auto;

	@include tablet {
		max-width: 720px;
	}

	@include laptop {
		max-width: 1072px;
	}
}

button {
	padding: 0;
	font-family: var(--font-family);
	border: none;
	cursor: pointer;
	background: transparent;
}

.page-main {
	margin: rem(32) 0;
	padding: rem(32) 0;
}

.title {
	margin: 0;
	font-family: var(--font-family);
	font-weight: 800;
	font-size: rem(18);
	line-height: 130%;

	@include laptop {
		font-size: rem(30);
	}

	&:not(:last-child) {
		margin-bottom: rem(32);
	}

	&--inner {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
}

.h3 {
	margin: 0;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: rem(24);
	line-height: 100%;
	color: #000;

	&:not(:last-child) {
		margin-bottom: rem(24);
	}
}

.base-text {
	margin: 0;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: rem(16);
	line-height: 150%;
	color: #000;

	&:not(:last-child) {
		margin-bottom: rem(32);
	}
}

.medium-text {
	margin: 0;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: rem(18);
	line-height: 133%;
	color: #000;
	&:not(:last-child) {
		margin-bottom: rem(32);
	}
}

.main-blockquote {
	margin: 0;
	padding: rem(77) rem(16) rem(16) rem(16);
	font-weight: 500;
	font-size: rem(16);
	line-height: 150%;
	color: #000;
	border-radius: rem(16);
	border: 2px solid var(--primary-color);
	position: relative;

	&:not(:last-child) {
		margin-bottom: rem(32);
	}

	&::after {
		content: "";
		position: absolute;
		top: rem(16);
		left: 0;
		right: 0;
		margin: auto;
		width: rem(45);
		height: rem(45);
		background: url("../images/icons/info.svg") no-repeat center;

		@include tablet {
			top: rem(32);
			right: rem(32);
			left: unset;
		}
	}

	@include tablet {
		padding: rem(32) rem(87) rem(32) rem(32);
		border-radius: rem(32);
	}
}

.primary-text {
	color: var(--primary-color) !important;
}
